<div class = "container" align ="center">
  <form action="/upgrade?plan=<%=@plan%>" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $ <%= "%.2f" % @amount %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="<%= @amount*100 %>"
            data-locale="auto"></script>
  </form>
</div>