<div class="container">

<form method="GET" action="">

<table class="table">

<tbody>

	<% for User in @users %>
		<% if !User.administrator %>
<tr>
	<td><h1><a type="text" name="Id" href="/user?Id=<%= User.id %>"><%= User.username %></a></h1>
		<% if User.level == 2 %>
		<span class="badge badge-primary">Pro</span>
		<% elsif User.level == 3 %>
		<span class="badge badge-warning">Gold</span>
		<% end %>
</td>
</tr>
<tr>
	<td colspan="4"> <%= User.bio %> </td></tr>
</tr>
	<% end %>
<% end %>

</tbody>
</table>


</form>
</div>

