<form action="/buy?photo=<%= @photo.id %>" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: <%= @photo.price %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="500"
            data-locale="auto"></script>
  </form>