<%= erb :navigation %>



<!DOCTYPE html>
<html>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Membership pitch insert here</p>
    </div>

<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free Plan</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Display 10 photos</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free!</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro Plan</h4>
          </div>
          <div class="card-body">
<<<<<<< HEAD:sinatra_starter_project-master/views/upgrade.erb
            <h1 class="card-title pricing-card-title">$4.99 <small class="text-muted">/ mo</small></h1>
=======
            <h1 class="card-title pricing-card-title">$15 </h1>
>>>>>>> f32fe36140810e575566d7d17fee53de128f51a4:sinatra_starter_project-master/views/plans.erb
            <ul class="list-unstyled mt-3 mb-4">
              <li>Display 20 photos</li>
            </ul>
<<<<<<< HEAD:sinatra_starter_project-master/views/upgrade.erb
            <button type="button" class="btn btn-lg btn-block btn-primary">Sign up!</button>
=======
            <a href ="/upgrade?plan=pro"><button type="submit" class="btn btn-lg btn-block btn-primary">Get started</button></a>
>>>>>>> f32fe36140810e575566d7d17fee53de128f51a4:sinatra_starter_project-master/views/plans.erb
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Gold Plan</h4>
          </div>
          <div class="card-body">
<<<<<<< HEAD:sinatra_starter_project-master/views/upgrade.erb
            <h1 class="card-title pricing-card-title">$9.99 <small class="text-muted">/ mo</small></h1>
=======
            <h1 class="card-title pricing-card-title">$29</h1>
>>>>>>> f32fe36140810e575566d7d17fee53de128f51a4:sinatra_starter_project-master/views/plans.erb
            <ul class="list-unstyled mt-3 mb-4">
              <li>Display 100% photos</li>
            </ul>
<<<<<<< HEAD:sinatra_starter_project-master/views/upgrade.erb
            <button type="button" class="btn btn-lg btn-block btn-primary">Sign up!</button>
=======
            <a href ="/upgrade?plan=gold"><button type="button" class="btn btn-lg btn-block btn-primary">Get started</button></a>
>>>>>>> f32fe36140810e575566d7d17fee53de128f51a4:sinatra_starter_project-master/views/plans.erb
          </div>
        </div>
      </div>

</html>
